


  @media{

img
{width:100%;
}

#topper {background-image: url();
  background-size: cover;
  background-position-x: center;
  
}
h1{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;   
}

#disclaimer{font-style: italic;
  
    }
    .pullquote{
      border:3px solid pink;
      font-size:30px;
      color:fuchsia;
      font-family: Gill sans; 
      background-color: #f0f4ff;
      padding: 30px;
      text-align:center;
      line-height: ;
    }
    #quote_attribution{
      font-size:15px;
      color:fuchsia;
      font-style: italic;
      font-family: Gill sans; 
      background-color: #f0f4ff;
      text-align:center;
      line-height: ;
    }

  .img_caption{
    
  }
  
}
#content{
  
}

h2{
  
  
}

#topper{
    background-image:cover;}

}

@media (min-width:576px){
  

}