img
{width:100%;
}

#topper {background-image: url();
  background-size: cover;
  background-position-x: center;
  
}
h1{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;   
}

#disclaimer{font-style: italic;
  
  
}
#content{
  
}

h2{
  
  
}

#topper{
    background-image:cover;}