@media {
  img {
    width: 100%;
  }
  body{
    background-color: #222321;
    
  }
  #topper {
    margin:0px;
    background-image: url("giant%20cross%20burning.jpg");
    background-size: cover;
    background-position-x: center;
    color:#222321;
  }

  .imagefullscreen {
    background-image: url();
    background-size: cover;
    background-position-x: 30% 30%;
  }
  h1 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    color: whitesmoke;
    text-shadow:0 0 3px #000000, 0 0 5px #e01a4f;
    margin-bottom: 300px
  }
  #video{
    width: 100%;
    
  }
  #content {
    font-family: Trebuchet MS;
    font-size: medium;
    color: whitesmoke;
    background-color: #222321;
    margin: auto;
    width:100%;
    
  }
  .chart-caption{ 
    font-style: italic;
    font-size: smaller;
  }
  .storysection {
    font-family: Gill Sans MT;
    font-size: large;
    text-transform: uppercase;
    color: #E01A4F;
  }

  #disclaimer {
    font-style: italic;
    color:whitesmoke;
  }
  .pullquote {
    
    font-size: 30px;
    color: #E01A4F;
    font-family: Gill sans;
   float: inline-right;
    padding: 30px;
    text-align: center;
    
  }
  .quote_attribution {
    font-size: 18px;
    color: #E01A4F;
    font-style: italic;
    font-family: Gill sans;
    background-color: lightgrey;
    text-align: center;
    border-top: 5p
  }

  .img_caption {font-size: smaller;
    font-style: italic;
  }



h2 {
}
}
@media (min-width: 576px) {
  #content {width:60%;
    
    
  }
}
